/* CustomLists.css */


.search-container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
  }
  
  label {
    margin-right: 10px;
  }
  
  .specificSearch {
    margin-bottom: 10px;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  

