.list-container{
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 250px; /* Set a fixed width */
    background-color: rgb(225, 253, 251);
    /* flex: 1 Each container takes up equal space */
    
}

