/* SearchContainer.css */

h2 {
    margin: 0 auto;
    font-size: 30px;
  }

/* .search-container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
    background: rgb(203, 234, 243);
  } */


  .container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    margin-bottom: 30px;
    margin-top: 0px;
    flex: 1 /* Each container takes up equal space */
  }
  
  label {
    margin-right: 10px;
  }
  
  .specificSearch {
    margin-bottom: 10px;
  }
  
  #fieldDropdown {
    margin-top: 10px;
  }
  
  .specificSearch#resultsInput {
    margin: 0;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }

  button.btn-left-margin{
    margin-left:10px;
  }

  .label-left-margin{
    margin-left:20px;
  }
  
  #matching-superheroes.flex-container {
    display: flex;
    flex-wrap: wrap; /* Allow flex items to wrap onto multiple lines */
    justify-content: center; /* Center items horizontally */
  }

  #searching-container{
    background-color: rgb(245, 254, 242);
  }